<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件与循环</title>
    <script src="Vue.js-v2.5.17.js"></script>
</head>
<body>
    <div id="app-3">
        <span v-if="seen">现在你可以看到我</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <script>
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    {text: '学习 JavaScript'},
                    {text: '学习 Vue'},
                    {text: '创建激动人心的代码'}
                ]
            }
        });
    </script>
</body>
</html>